@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app {
  display: flex;
  height: 100vh;
  /* Make sure the app fills the whole viewport height */
}

.sidebar {
  flex: 0 0 250px;
  /* Fixed width for the expanded sidebar */
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  flex: 0 0 80px;
  /* Adjusted width for collapsed sidebar */
}

.content {
  flex-grow: 1;
  /* Take up the remaining space */
  padding: 20px;
  /* Add padding for the content */
  transition: all 0.3s ease;
}